@import url('https://fonts.googleapis.com/css2?family=Jim+Nightshade&display=swap');
header {
    display: flex;
    padding: 12px 12px;
    background-color: rgb(29, 40, 100);
    font-family: 'Jim Nightshade', serif;
    font-size: x-large;
    color: #e8cd00;
}

nav {
    display: flex;
    gap: 16px;
    padding: 8px 24px;
    background-color: rgb(4, 4, 53);
    color: #e3d358;
}

.body {
    display: flex;


}

.sidebar {
    width: 275px;
    padding: 20px;
    border-right: 1px solid #ddd;
    background-color: rgb(29, 40, 100);
    font-family: 'Jim Nightshade', serif;
    font-size:24px ;
    
}

.main-content {
    flex: 1; 
}
.main-content p {
    padding: 20px;
}

img{
    height: 150px;
    padding-left: 24px;
}